<div class="row">
    <div class="col-md-8">
        <h2 class="pull-left">Add item</h2>
    </div>
</div>
<div class="col-md-8">
    <p>
        <label> Name </label>
        <input class="form-control" type="text" ng-model="vm.item.name", required>
    </p>
    <p>
        <label> Description </label>
        <textarea class="form-control" ng-model="vm.item.description", required></textarea>
    </p>
    <p>
        <label> Starting price </label>
        <input class="form-control" type="number" ng-model="vm.item.startingPrice", required>
    </p>
    <p>
        <button class="btn btn-default" ng-click="vm.saveItem(item)">Save</button>
        <button class="btn btn-default" ng-click="vm.back()">Back</button>
    </p>
</div>